# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.externalNativeBuild
.cxx
local.properties
/app/build
/build
/captures
.externalNativeBuild
.cxx

# Node (legacy web app)
/node_modules
/.pnp
.pnp.*
/.next/
/out/
/coverage

# Misc
.DS_Store
*.pem
npm-debug.log*
.env*.local
*.tsbuildinfo
next-env.d.ts
